@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Montserrat:wght@600&family=Russo+One&display=swap');



.btlogin {
   
    border-radius: 30px 30px 30px 30px;
    color: #000;
    background-color: #fff;
    padding: 0px 50px;
    
}

.btlogin p {
    padding: 0;
    font-weight: bold;
    color: black;
}

.btlogin input {
    width: 100%;
    
}

.btlogin input[type='text'],
input[type='password'] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(114, 107, 107);
    font-size: 16px;
}

.btlogin input[type='button'] {
    
    height: 35px;
    color: #000;
    background: rgb(50, 50, 250);
    border-radius: 20px;
    transition: 0.2s;
}

.btlogin input[type='button']:hover {
    cursor: pointer;
    background: #110ea7;
    transition: 0.2s;
}

.btlogin {
    align-items: center;
    font-weight: bold;
    text-decoration: none;
    font-size: 12px;
    line-height: 10px;
    color: #4b4b4b;
    transition: 0.2s;
    
}

label{
    font-size: 20px;
}
.ancoralog{
    color: #000;
}
.logbottom{
     background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(85, 202, 221, 1) 0%, rgba(31, 138, 182, 1) 28%, rgba(11, 150, 186, 1) 60%, rgba(55, 86, 175, 1) 89%);
    border: #000;
}
.logbottom:hover{
    color: #000;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}