body {
 
  font-family:Arial, Helvetica, sans-serif;
}

code {
  font-family:Arial, Helvetica, sans-serif;
}

.footer{
  background: #0f7ae6;
  align-items: center;
}
.ancora{
  color: white;
}
.ancora:hover{
  color: #BBDEFB;
}

